In [2]:
import numpy as np
import pandas as pd
# 1. Прочитайте csv файл (метод read_csv)
data = pd.read_csv('bestsellers with categories.csv', encoding = 'unicode_escape')

In [3]:
# 2. Виведіть перші 10 рядків (метод head)
data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [4]:
# 3. Виведіть розміри датасету (метод shape)
num_of_rows, num_of_columns = data.shape
print(f"Кількість рядків: {num_of_rows}, Кількість стовпчиків: {num_of_columns}")
print(f"Датасет зберігає {num_of_rows} книг")

Кількість рядків: 550, Кількість стовпчиків: 7
Датасет зберігає 550 книг

In [5]:
# 4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
data.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

In [6]:
# 5. Вивести кількість пропусків у кожному стовпчику.
missing_values = data.isna().sum()
print(f"Кількість пропусків у датасеті: {missing_values.max()} ")

Кількість пропусків у датасеті: 0

In [7]:
# 6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
unique_genres = data['genre'].unique()
print(unique_genres)

['Non Fiction' 'Fiction']

In [8]:
# 7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
prices = data['price']

max_price = prices.max()
min_price = prices.min()
mean_price = prices.mean()
median_price = prices.median()

print(f"Максимальна ціна: {max_price}")
print(f"Мінімальна ціна: {min_price}")
print(f"Середня ціна: {mean_price}")
print(f"Медіанна ціна: {median_price}")

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

In [17]:
# 8. Виконайте наступні завдання з пошуку і сортування даних
#Питання 1: Який рейтинг у датасеті найвищий? 
#Питання 2: Скільки книг мають такий рейтинг? 
#Питання 3: Яка книга має найбільше відгуків? 
#Питання 4: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
#Питання 5 : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
#Питання 6: Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 

# 1
user_rating = data["user_rating"]
print(f"У датасеті найвищий рейтинг {user_rating.max()}")
# 2
maxrating_book = data[data['user_rating'] == user_rating]['name'].count() - 1
print(f"Книга з найбільшим рейтингом: {data['name'].iloc[maxrating_book]}")
# 3
most_reviews_book = data[data['reviews'] == data['reviews'].max()]['name'].iloc[0]
print(f"Kнига {most_reviews_book} має найбільше відгуків")
# 4 
book_2010 = data[data['year'] == 2010].max()
print(f"Найдорожча книга 2010 року: {book_2010}")
# 5
count_genre = data[data['genre'] == 'Fiction'].shape[0]
print(f"{count_genre} книг жанру Fiction у 2012р.")
#6
result = 0;
filtered_data = data.isin({'user_rating': [4.9], 'year': [2010, 2011]})
for i in range(0, filtered_data.shape[0]):
    for j in range(0, filtered_data.shape[1]):
        if filtered_data.iat[i,j] == True:
            result += 1
print(f"У 2010 та 2011 книг з рейтингом 4.9 такак кількість: {sum}")

У датасеті найвищий рейтинг 4.9
Книга з найбільшим рейтингом: You Are a Badass: How to Stop Doubting Your Greatness and Start Living an Awesome Life
Kнига Where the Crawdads Sing має найбільше відгуків
Найдорожча книга 2010 року: name           Women Food and God: An Unexpected Path to Almo...
author                                                Tony Hsieh
user_rating                                                  4.8
reviews                                                    32122
price                                                         46
year                                                        2010
genre                                                Non Fiction
dtype: object
240 книг жанру Fiction у 2012р.
У 2010 та 2011 книг з рейтингом 4.9 такак кількість: <built-in function sum>

In [10]:
# 9 Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.
subset_data = data[['genre', 'price']]
result = subset_data.groupby('genre').agg({'price': ['min', 'max']})
print(result)

            price
              min  max
genre
Fiction         0   82
Non Fiction     0  105